.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.notfound-img {
  height: 250px;
  width: 250px;
}
.err {
  color: #64748b;
  font-size: 32px;
  font-family: 'Roboto';
}
.err-msg {
  color: #7b8794;
  font-size: 14px;
  font-family: 'Roboto';
}
